extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of champion' name='name' required='true' value=(undefined===champion ? '' : champion.name) )
    div.form-group
        label(for='description') Description:
        input#description.form-control(type='text', placeholder='Description of champion' name='description' required='true' value=(undefined===champion ? '' : champion.description))
    div.form-group
      label Roles:
      div
        for role in roles
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='role', id=role._id, value=role._id, checked=role.checked )
            label(for=role._id) #{role.role}
    div.form-group
      label Lanes:
      div
        for lane in lanes
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='lane', id=lane._id, value=lane._id, checked=lane.checked )
            label(for=lane._id) #{lane.lane}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
