extend layout

block content
    style.
        .champ_description {
        font-style: italic;
        font-size: 1.3rem;
        }

    h1= title

    h2(class='champ_name') #{champion_detail.name}
    h3(class='champ_description') #{champion_detail.description}
    p Roles:
        ul
            each role in champion_detail.role
                li
                    | #{role.role}
    p Lanes:
        ul
            each lane in champion_detail.lane
                li
                    | #{lane.lane}